/* Hero Section */ 

.hero { 

background-color: #006400; 

padding: 80px 20px; 

text-align: center; 

position: relative; 

overflow: hidden; 

} 

 

/* Title */ 

.title-container {
	text-align: center;
}

.main-title {
	font-size: 70px;
	color: #DAA520;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

 

.logo-overlay { 

position: absolute; 

top: -20px; 

left: 50%; 

width: 120px; 

transform: translateX(-50%); 

opacity: 0.95; 

} 

 

/* Speech bubbles */ 

.speech-bubbles { 

display: flex; 

flex-wrap: wrap; 

justify-content: center; 

gap: 25px; 

margin-top: 40px; 

} 

 

.bubble { 

padding: 15px 20px; 

border: 2px solid #1f3f27; 

border-radius: 20px; 

color: #e8e8e8; 

font-size: 16px; 

background: transparent; 

max-width: 200px; 

animation: float 5s ease-in-out infinite; 

opacity: 0.7; 

} 

 

@keyframes float { 

0% { transform: translateY(0px); } 

50% { transform: translateY(-10px); } 

100% { transform: translateY(0px); } 

} 

 

/* Search bar */ 

.search-bar { 

margin: 50px auto 0; 

width: 70%; 

max-width: 600px; 

background: #eee; 

padding: 12px 20px; 

border-radius: 30px; 

font-size: 18px; 

color: #666; 

display: flex; 

align-items: center; 

} 

 

.search-icon { 

font-size: 20px; 

margin-right: 10px; 

} 

 

#search-text { 

color: #777; 

font-family: 'Courier New', monospace; 

overflow: hidden; 

border-right: 2px solid #666; 

white-space: nowrap; 

} 