body {
    background-color: #012901; /* DarkGreen */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Parisienne', cursive; 
    color: white;
    margin-top: 20vh; /* para centrar visualmente */
}


